.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: var(--bg);
	box-shadow: 0 0 2px 0px var(--blue200);
	&_container {
		display: flex;
		height: var(--header-ht);
		max-width: var(--container-wd);
		margin: 0 auto;
		align-items: center;
		padding: 0 var(--container-pd);
	}
}
