.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display: flex;
	margin: 0 auto;
	align-items: center;
	height: var(--header-ht);
	max-width: var(--container-wd);
	background: var(--bg);
	padding: 0 var(--container-pd);
	&_searchbar {
		width: 80%;
		max-width: 600px;
	}
	&_cartbtn {
		margin-left: auto;
		background: var(--blue200);
		padding: 12px 16px;
		border-radius: 10px;
		font-weight: 600;
		transition: box-shadow 0.3s;
		&:hover {
			box-shadow: 0 0 0 2px var(--blue200);
		}
	}
}
